<h2>Add a new favorite toy!</h2>
<form action="/toys" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>URL: <input type="url" name="url"></p>
  <input type="submit" value="submit">
</form>
