<div class="body-content">
  <h1>Signup For a Dog Toy Lister Account!</h1>
  <p>or <a href="/login">Log In</a></p>

  <form action="/signup" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required><br>
    <label>Password:</label>
    <input type="password" name="password" required><br></br>

    <input type="submit" value="Complete Sign Up">
  </form>
</div>
