<h1>Login to Dog Toy Lister!</h1>
<form method="post" action="/login">
  <p>Username: <input type="text" name="username" ></br></p>
  <p>Password: <input type="text" name="password" ></p>

  <input type="submit" value="Submit">
</form>
