<h1>Welcome, <%=@user.username%></h1>

<% @user.toys.each do |toy| %>
  <div>
    <a href="/toys/<%=toy.id%>"><%= toy.name %></a></br>
    <a href="<%toy.url%>"><%= toy.url %></a>
  </div>
<% end %>
 
