<div class="container">
  <p>Welcome to Dog Toy Lister!</p>
  <% if logged_in? %>

    <a href="/toys/new"> Add New Favorite Toy </a></br>
    <a href="/toys">Click here to view everyone else's favorite toy!</a></br></br>


  <% else %>
    <p>Please signin or signup below:</p>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</div>