<div class="container">
  <h1>Welcome to Dog Toy Lister!</h1>
  <% if logged_in? %>

    <a href="/toys/new"> Add New Favorite Toy </a></br>
    <a href="/toys">Click here to view everyone else's favorite toy!</a></br></br>


  <% else %>
    <p>Please signin or signup below:</p>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

  <p>Dog Toy Lister is a web app designed to help you keep track of your dog's favorite toys! You are also able to view favorite toys
  posted by other users!<p>
</div>